@import "../../style/variables";

.activity-item {
  margin: 1rem 0;
  padding: 2rem;
  border: 1px solid $primary-color;
  color: $primary-text-color;
  background-color: $primary-color;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  max-width: 500px;

  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}

.remove-button {
  margin: 0rem 0rem 0rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  color: $secondary-text-color;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border-style: solid;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}

.remove-button:hover {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.activity-item-content-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.activity-item-type {
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  width: 3.5rem;
}
