$primary-color: #424242;
$primary-text-color: white;

$secondary-color: #2196f3;
$secondary-text-color: #f0f0f0;

$background-color: #333333;
$background-text-color: #f0f0f0;


$primary-color2: #0f4c75;
$secondary-color2: #bbe1fa;
$background-color2: #1b262c;
